html {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background: url(../bg.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#cameraView {
  width: 100%;
  z-index: 0;
  opacity: 1;
}

.border {
  opacity: 0.5;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  font-size: 30px;
  width: 700px;
  font-weight: 700;
  color: white;
  text-align: center;
  z-index: 1;
}

#map {
  height: 400px;
}

#time {
  font-size: 102px;
}

#date {
  font-size: 48px;
}

#weather { 
  font-size: 48px;
}

#camera-stream {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -50;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
